name: Tomas-Proj

on: [push]
jobs:
  test:
   runs-on: ubuntu-20.04

   steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Run tests
      uses: cypress-io/github-action@v2

      with:
        start: npm start
        record: true
        
      env:
        CYPRESS_RECORD_KEY: ${{ secrets.RECORD_KEY }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  
