name: Tomas-Proj

on: [push]
jobs:
  test:
   runs-on: ubuntu-20.04

   steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Run tests
      uses: cypress-io/github-action@v2

      with:
        command: npx cypress run --record --key ${{ secrets.CYPRESS_RECORD_KEY }}
        start: npm start
        record: true
        


